@tailwind base;
@tailwind components;
@tailwind utilities;

/* Classe pour l'arrière-plan personnalisé */
.bg-custom {
  background-image: url('/image/image1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}
